<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Header</title>
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic" rel="stylesheet" />
	<link rel="stylesheet" href="header.css">
</head>
<body>
	<!--Header-->
	<header class="header">
		<figure class="header--content">
			<img class="header--content-img" src="https://raw.githubusercontent.com/platzi/PlatziVideo/feature/react/src/assets/static/logo-platzi-video-BW2.png" alt="">
		</figure>
		<nav class="header--menu">
			<figure class="header--menu-profile">
				<img class="header--menu-img" src="./../../images/user-circle.svg" alt="img-user">
			</figure>
			<p class="header--menu-title">Perfil</p>
			<ul class="header--menu-list">
				<li><a href="/">Cuenta</a></li>
				<li><a href="/">Cerrar sesión</a></li>
			</ul>
		</nav>
	</header>

	<!--Seeker-->
	<section class="content">
		<article class="content--seeker">
			<h2 class="content--seeker-title">¿Qué quieres ver hoy?</h2>
			<form class="content--seeker-form" action="">
				<input class="content--seeker-input" type="text" name="" id="" placeholder="Buscar">
			</form>
		</article>
	</section>
</body>
</html> 